.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    svg path {
      transition: 400ms;
    }

    &:disabled {
      svg path {
        fill: #919EAB;
      }
    }
  }
}

.pagination {
  color: #212B36;
  font-size: 14px;
  line-height: 36px;
  margin-right: 20px;
  transform: translateY(-2px);
}
