.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pagination {
  color: #212B36;
  font-size: 14px;
  line-height: 36px;
  margin-right: 20px;
  transform: translateY(-2px);
}
