@use 'styles/use/utils';

.toggle {
  width: 41px;
  height: 15px;
  border-radius: 42px;
  position: relative;
  background-color: var(--gray-light);
  transition: 400ms;

  &:disabled {
    pointer-events: none;
    opacity: .6;
  }

  &.active {
    background-color: #00A624;

    .overlay {
      left: 22px;
    }
  }
}

.overlay {
  @include utils.centerVertically();
  left: -2px;
  position: absolute;
  width: 19.71px;
  height: 19.71px;
  border-radius: 50%;
  background-color: var(--pinki-tin);
  transition: 400ms;
}

.table {
  min-width: 1200px;
}

.inner {
  overflow-x: auto;
  @include utils.customScroll(#000);
}

.row {
  th {
    font-size: 18px;

    @include utils.media-max-width(1500) {
      font-size: 16px;
    }
  }
}


.fullname {
  width: 25%;
}

.username {
  width: 15%;
}

.email {
  width: 25%;
}

.type {
  width: 15%;
}

.switch {
  width: 61px;
}
