:root {
  //fonts
  --font-family-main: 'Murecho', sans-serif;
  --font-family-title: 'GetVoIPGrotesque', sans-serif;

  //Colors
  --purple-light: #680bab;
  --purple-medium: #5b2680;
  --purple-dark: #42036f;
  --pinki-light: #a767d5;
  --pinki-tin: #B050F2;
  --pinki-medium: #963fd5;

  --black-light: #353535;

  --gray-light: #7F7F7F;
  --gray-black: #5E5E5E;

  --green: #38AE00;
}
