@use 'styles/use/utils';

.wrapper {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  display: block;
  padding: 0 10px;
  height: 49px;
  font-size: 16px;
  border-radius: 9px;
  border: 1px solid #000;
  line-height: 49px;
  transition: 400ms;
  font-weight: 500;

  &.havePrefix {
    padding-left: 20px;
  }

  &.error {
    border-color: #E52929;
  }

  &::placeholder {
    color: #818181;
    font-weight: 300;
  }
}

.show {
  position: absolute;
  right: 10px;
  transition: 400ms;

  @include utils.centerVertically();

  &.active {
    opacity: .4;
  }
}

.prefix {
  position: absolute;
  left: 11px;
  top: 12.5px;
  font-size: 16px;
  line-height: 23px;
}
