@use 'styles/use/utils';

.wrapper {
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  margin-top: 45px;
  overflow: hidden;

}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 33px;

  @include utils.media-max-width(900) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
}

.title {
  text-transform: uppercase;
  color: var(--gray-light);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.inner {
  @include utils.media-max-width(1000) {
    overflow-x: auto;
    @include utils.customScroll(#000);
    padding-bottom: 10px;
  }
}

.table {
  @include utils.media-max-width(1000) {
    min-width: 600px;
  }
}

.price {
  color: var(--pinki-tin);
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;

  @include utils.media-max-width(1000) {
    width: 300px;
  }
}

.data {
  width: 45%;
  font-size: 18px;
  font-weight: 700;

  @include utils.media-max-width(1600) {
    width: 40%;
  }

  @include utils.media-max-width(1000) {
    width: 300px;
  }
}

.cellTotal {
  width: 10%;
  font-size: 18px;
  font-weight: 700;

  @include utils.media-max-width(1600) {
    width: 200px;
  }
}

.total {
  display: flex;
  align-items: center;
  gap: 67px;

  @include utils.media-max-width(900) {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}
