.footer {
  background-color: #000000;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 25px;
}


.top {
  display: grid;
  grid-template-columns: max(430px) repeat(2, 1fr);
  gap: 280px;
  padding-bottom: 18px;
  border-bottom: 1px solid rgba(#FFFFFF, .3);
  margin-bottom: 20px;
}


.title {
  font-family: var(--font-family-title);
  font-size: 24px;
  margin-bottom: 19px;
  margin-top: 22px;
}

.text{
  font-size: 16px;
  line-height: 20px;
}

.navigation {
  display: flex;
  gap: 115px;
}

.links {
  span {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  li + li {
    margin-top: 2px;
  }

  a {
    color: #BCBCBC;
    font-size: 18px;
    line-height: 30px;
  }
}

.copyright {
  padding-top: 32px;
  margin-left: auto;
  text-align: center;

  img {
    display: inline-block;
    margin-bottom: 10px;
  }

  a {
    color: #6E777A;
    font-size: 17px;
    font-weight: 400;
    text-decoration-line: underline;
    display: block;
  }
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.powered {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #BABABA;
  font-size: 16px;

  img {
    width: 21px;
    height: auto;
  }
}

.otherLinks {
  display: flex;
  align-items: center;
  gap: 20px;

  a {
    font-size: 14px;
    font-weight: 300;
  }
}
