.first {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 150px;
}


.data,
.type {
  span {
    font-weight: 400;
  }
}

.type {
  font-size: 18px;
  width: 25%;
}

.data {
  width: 30%;
}

.status {
  text-align: right;
  text-decoration: underline;

  &.success {
    color: #04C100;
  }

  &.cancel {
    color: #C10000;
  }

  &.pending {
    color: #DEBB00;
  }

  &:disabled {
    pointer-events: none;
    text-decoration: none;
  }
}

.carousel {
  overflow: hidden;
  margin-top: 32px;
}

.list {
  display: flex;
  align-items: flex-start;
  gap: 40px;

  > table {
    flex: 0 0 auto;
  }
}

.pagination {
  margin-top: 25px;
}
