@use 'styles/use/utils';

.toggle {
  width: 41px;
  height: 15px;
  border-radius: 42px;
  position: relative;
  background-color: var(--gray-light);

  &.active {
    background-color: #00A624;

    .overlay {
      left: 22px;
    }
  }
}

.overlay {
  @include utils.centerVertically();
  left: -2px;
  position: absolute;
  width: 19.71px;
  height: 19.71px;
  border-radius: 50%;
  background-color: var(--pinki-tin);
  transition: 400ms;
}

.table {
  @include utils.media-max-width(1400) {
    min-width: 1000px;
  }
}

.inner {
  @include utils.media-max-width(1400) {
    overflow-x: auto;
    @include utils.customScroll(#000);
  }
}

.row {
  th {
    font-size: 18px;

    @include utils.media-max-width(1500) {
      font-size: 16px;
    }
  }
}

.fullName {
  width: 25%;

  @include utils.media-max-width(1500) {
    width: 28%;
  }
}

.username {
  width: 20%;

}

.photo {
  width: 20%;

  a {
    color: #000;
    font-style: normal;
    font-weight: 700;
    text-decoration-line: underline;
  }
}

.date {

}

.status {
  width: 200px;


  @include utils.media-max-width(1500) {
    width: 150px;
  }
}
