@use 'styles/use/utils';

.section {
  padding: 197px 0 200px;
  overflow: hidden;
  position: relative;

  @include utils.media-max-width(1740) {
    padding: 160px 0 180px;
  }

  @include utils.media-max-width(1470) {
    padding: 140px 0;
  }

  @include utils.media-max-width(900) {
    padding: 120px 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 107px;

  @include utils.media-max-width(1470) {
    margin-bottom: 80px;
  }

  @include utils.media-max-width(1070) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
  }
}

.navigation {
  @include utils.media-max-width(1070) {
    width: 100%;
    justify-content: flex-end;
    padding-top: 20px;
    margin-top: 25px;
    border-top: 1px solid rgba(#000, 0.1);
  }
}

.carousel {
  padding-left: 135px;
  margin-left: -135px;

  @include utils.media-max-width(1740) {
    padding-left: 100px;
    margin-left: -100px;
  }

  @include utils.media-max-width(1470) {
    padding-left: 30px;
    margin-left: -30px;
  }

  @include utils.media-max-width(900) {
    padding-left: 20px;
    margin-left: -20px;
  }
}

.list {
  display: flex;
  gap: 135px;
  cursor: grab;

  @include utils.media-max-width(1740) {
    gap: 100px;
  }

  @include utils.media-max-width(1470) {
    gap: 30px;
  }

  @include utils.media-max-width(900) {
    gap: 20px;
  }
}

.card {
  border-radius: 22px;
  background: #FFF;
  text-align: center;
  width: 534px;
  height: 495px;
  padding: 50px 36px 0;
  flex: 0 0 auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  @include utils.media-max-width(1740) {
    height: 420px;
    width: 500px;
    padding: 50px 30px 0;
  }

  @include utils.media-max-width(1470) {
    height: 450px;
    padding: 40px 30px 0;
  }

  @include utils.media-max-width(900) {
    padding: 30px 20px 0;
    width: 400px;
    height: 420px;
  }

  @include utils.media-max-width(500) {
    padding: 30px 20px 0;
    width: 335px;
    height: 400px;
  }
}

.logo {
  display: inline-block;
  margin-bottom: 35px;

  @include utils.media-max-width(900) {
    margin-bottom: 30px;
    width: 55px;
    height: auto;
  }
}

.name {
  font-family: var(--font-family-title);
  color: var(--pinki-medium);
  font-size: 32px;
  margin-bottom: 20px;

  @include utils.media-max-width(1740) {
    font-size: 30px;
  }

  @include utils.media-max-width(1470) {
    font-size: 28px;
  }

  @include utils.media-max-width(900) {
    font-size: 24px;
  }
}

.text {
  color: var(--black-light);
  font-size: 20px;
  font-weight: 300;
  line-height: 37px;

  @include utils.media-max-width(1740) {
    font-size: 18px;
    line-height: 35px;
  }

  @include utils.media-max-width(1470) {
    font-size: 16px;
    line-height: 32px;
  }

  @include utils.media-max-width(500) {
    font-size: 14px;
    line-height: 28px;
  }
}

.bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
