.wrapper {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}

.inner {
  position: absolute;
  z-index: 1;
  left: 0;
  top: calc(100% + 10px);
  right: 0;
}

.header {
  display: flex;
  align-items: center;
}

.current {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  margin-right: 8px;
}

.arrow {
  display: inline-block;
  width: 15px;
  transition: 400ms;
  margin-left: 10px;

  &.rotate {
    transform: rotate(180deg);
  }
}

.counter {
  width: 22px;
  height: 22px;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--pinki-tin);
  color: #fff;
  border-radius: 3px;
  margin-top: 1px;
}

.content {
  padding: 10px 15px 15px 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.25);

  a, button {
    width: fit-content;
    line-height: 30px;
  }
}
