@use 'styles/use/utils';

.button {
  font-size: 16px;
  font-weight: 400;
  padding: 0 17px;
  width: auto;

  &.isShow {}
}

.label {
  span {
    font-size: 16px;
    font-weight: 300;
  }
}

th.changer {
  font-size: 20px;
  font-weight: 400;
  transform: translateX(-25px);
}

tr.borderHide {
  border: none;
}

tr.last {
  border-bottom: none;
}

tr.counter {
  display: none;

  &.show {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: table-row;
  }
}

.actions {
  width: 20%;

  &.md {
    width: 21%;
  }

  @include utils.media-max-width(1600) {
    width: 25%;
  }
}

.currentMd {
}

.more{
  width: 100px;

  button {
    font-size: 18px;
    font-weight: 700;
    text-decoration-line: underline;
  }

  @include utils.media-max-width(1600) {
    width: 85px;
    button {
      font-size: 16px;
    }
  }
}


.action {
  width: 165px;

  button {
    margin-left: auto;
  }
}

.company {
  width: 243px;

  &.md {
    width: 280px;
  }

  @include utils.media-max-width(1600) {
    width: auto;
  }
}

.price {
  width: 273px;

  &.md {
    width: 130px;
  }

  @include utils.media-max-width(1600) {
    width: auto;
  }
}

.modal {
  height: 859px;
  max-width: 1512px;
  width: 100%;
  border-radius: 20px;
  background: #FFF;
  padding: 48px 105px 49px 105px;
}

.inner {
  padding-left: 350px;
  padding-right: 30px;
}

.title {
  margin-bottom: 50px;
  color: #000;
  font-size: 24px;
  font-weight: 500;
}
