.wrapper {
  background-color: #fff;
  border-radius: 15px;
  padding: 16px 20px 35px 20px;
  overflow: hidden;
}

.title {
  font-size: 36px;
  font-weight: 500;
  line-height: 52px;
  margin-bottom: 25px;
}
