.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;


  tbody tr:last-child th:last-child {
    :global(.change-status) {
      top: auto;
      bottom: calc(100% + 10px);
    }
  }
}
