@use 'styles/use/utils';

.value {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 5px;

  @include utils.media-max-width(900) {
    font-size: 16px;
    line-height: 24px;
  }
}

.label {
  color: var(--gray-light);
  font-size: 14px;
  text-transform: capitalize;
  line-height: 20px;

  @include utils.media-max-width(900) {
    font-size: 13px;
  }
}
