@use 'styles/use/utils';

.table {
  @include utils.media-max-width(900) {
    min-width: 630px;
  }
}

.wrapper {
  margin-top: 33px;
}


.head {
  text-transform: uppercase;
}

.tbody {
  tr {
    border: none;

    &:first-child {
      th {
        padding-top: 24px;
      }
    }

    th {
      padding: 15px 0 0;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: minmax(300px, 845px) minmax(615px, 1fr);
  grid-gap: 30px;
  margin-bottom: 30px;

  @include utils.media-max-width(1780) {
    display: block;
    overflow: hidden;
  }
}

.col {
  > div + div {
    margin-top: 30px;
  }

  @include utils.media-max-width(1780) {
    margin-bottom: 30px;
  }
}

.block {
  padding-top: 35px;
  overflow: visible;
}

.form {
  grid-template-columns: repeat(2, 1fr) 180px;
  grid-gap: 39px;

  @include utils.media-max-width(900) {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}

.carousel {
  margin-right: 49px;
}


.inner {
  &.md {
    padding-right: 69px;

    @include utils.media-max-width(1780) {
      padding-right: 0;
    }
  }

  @include utils.media-max-width(900) {
    overflow-x: auto;
    @include utils.customScroll(#000);
  }
}

.derivation {
  grid-gap: 20px;
}

.pagination {
  &.md {
    margin-top: 35px;
  }

  @include utils.media-max-width(900) {
    &.md {
      margin-top: 25px;
    }
  }
}
