@use 'styles/use/utils';

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 33px;
}

.icon {
  @include utils.centering();

  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--pinki-tin);
  opacity: .5;

  &.current {
    opacity: 1;
  }
}

.info {
  max-width: 482px;
  text-align: center;
  margin: 0 auto 44px;

  &__title {
    color: #686868;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    margin-bottom: 3px;

    span {
      color: #000;
      margin-left: 22px;
    }
  }

  &__text {
    color: #6B6B6B;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.44px;
    line-height: 17px;
  }
}

.open {
  display: block;
  margin: 0 auto;
  color: var(--pinki-tin);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.64px;
  max-width: 385px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--pinki-tin);
  height: 43px;
}
