@use 'styles/use/utils';

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 33px;
}

.icon {
  @include utils.centering();

  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--pinki-tin);
  opacity: .5;

  &.current {
    opacity: 1;
  }
}

.info {
  max-width: 482px;
  text-align: center;
  margin: 0 auto 44px;

  &__title {
    color: #686868;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    margin-bottom: 3px;

    span {
      color: #000;
      margin-left: 22px;
    }
  }

  &__text {
    color: #6B6B6B;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.44px;
    line-height: 17px;
  }
}

.open {
  display: block;
  margin: 0 auto;
  color: var(--pinki-tin);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.64px;
  max-width: 385px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--pinki-tin);
  height: 43px;
}

.modal {
  background-color: #fff;
  padding: 55px;
  max-width: 800px;
  border-radius: 20px;
  width: 100%;
}

.title {
  color: #000;
  font-size: 32px;
  font-weight: 500;
  line-height: 46px;
  margin-bottom: 56px;
}

.label {
  color: #707070;
  font-size: 19px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 10px;
}

.description {
  color: #A6A6A6;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  margin-top: 10px;
}

.button {
  width: 100%;
  background-color: var(--pinki-tin);
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 47px;
  border-radius: 30px;
  margin-top: 28px;
  transition: 400ms;

  &.disabled {
    pointer-events: none;
    opacity: .4;
  }
}

.input {
  display: flex;
  align-items: center;
  height: 49px;
  max-width: 450px;
  gap: 13px;
  border-radius: 9px;
  border: 1px solid #000;
  color: #000;
  font-size: 20px;
  padding: 0 13px;
  cursor: pointer;

  input {
    display: none;
  }
}
