@use 'styles/use/utils';

.title {
  font-size: 24px;
  font-weight: 500;
  line-height: 35px;
  margin-bottom: 14px;
}

.verification {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-bottom: 25px;

  &__title {
    font-size: 24px;
    font-weight: 700;
  }

  &__id {
    color: #4B4B4B;
    font-size: 14px;
    font-weight: 400;
    margin-top: 2px;
  }

  @include utils.media-max-width(1000) {
    &__title {
      font-size: 20px;
    }
  }

  @include utils.media-max-width(650) {
    &__title {
      font-size: 18px;
    }
  }
}


.inner {
  display: grid;
  grid-template-columns: 530px 1fr;
  grid-column-gap: 156px;

  @include utils.media-max-width(1700) {
    grid-template-columns: 400px 1fr;
  }

  @include utils.media-max-width(1600) {
    grid-column-gap: 50px;
  }


  @include utils.media-max-width(1400) {
    grid-template-columns: 1fr;
    align-items: flex-start;
    grid-gap: 30px;
  }
}

.left {
  @include utils.media-max-width(1400) {
    max-width: 600px;
  }
}

.right {
  max-width: 784px;
  width: 100%;
  margin-left: auto;

  @include utils.media-max-width(1400) {
    max-width: 500px;
    margin-left: 0;
  }
}
