@use 'styles/use/utils';

.bottom {
  margin-top: auto;

  a, button {
    display: flex;
    align-items: center;
    padding: 0 30px;
    height: 55px;
    line-height: 40px;

    @include utils.media-max-width(1279) {
      padding: 0 0 0 18px;
    }
  }

  span {
    color: #000;
    font-size: 18px;
    transform: translateY(-3px);

    @include utils.media-max-width(1279) {
      display: none;
    }
  }

  button {
    margin-top: 10px;
  }
}

.icon {
  width: 28px;
  height: 30px;
  text-align: left;
  margin-right: 9px;

  @include utils.media-max-width(1279) {
    margin-right: 0;
    text-align: center;
  }
}
