.company {
  display: flex;
  align-items: center;
  gap: 14px;
}

.icon {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  flex: 0 0 auto;
  border-radius: 50%;
}

.name {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
