@import 'vender/normalize.css';
@import 'vender/fonts';
@import 'vender/reset';
@import 'global/variables';

body {
  font-family: var(--font-family-main);

  background-color: #FFFFFF;
  color: #000;

  a {
    color: inherit;
  }
}
