@use 'styles/use/utils';

.price {
  font-weight: 700;

  &.xs {
    font-size: 18px;

    span {
      font-size: 20px;
    }

    @include utils.media-max-width(1600) {
      font-size: 16px;

      span {
        font-size: 18px;
      }
    }
  }

  &.lg {
    font-size: 32px;

    span {
      font-size: 36px;
    }

    @include utils.media-max-width(1600) {
      font-size: 28px;

      span {
        font-size: 32px;
      }
    }
  }

  span {
    display: inline-block;
    margin-right: 5px;
  }
}
