@use 'styles/use/utils';

.banner {
  position: relative;
}

.bg1 {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: auto;
}

.bg2 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  max-width: 100%;
  height: auto;

  @include utils.media-max-width(1400) {
    display: none;
  }
}

.content {
  padding-top: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;

  @include utils.media-max-width(500) {
    margin-bottom: 25px;
  }
}

.desc {
  display: flex;
  flex-direction: column;
  max-width: 881px;
  gap: 25px;
}

.title {
  color: var(--pinki-tin);
  font-family: var(--font-family-title);
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 25px;

  @include utils.media-max-width(500) {
    font-size: 48px;
  }

  span {
    color: #18181B;
    font-family: var(--font-family-main);
    line-height: 48px; /* 75% */
  }
}

.text__title {
  color: var(--gray-900, #18181B);
  font-family: var(--font-family-main);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 200% */
  text-transform: uppercase;

  @include utils.media-max-width(500) {
    font-size: 16px;
    line-height: 24px;
  }
}

.text {
  color: #545454;
  font-family: var(--font-family-main);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 240% */

  @include utils.media-max-width(500) {
    font-size: 14px;
    line-height: 24px;
  }
}

.img {
  @include utils.media-max-width(1400) {
    display: none;
  }
}

.button {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 15px;

  color: #9D9D9D;
  font-family: var(--font-family-main);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 48px; /* 266.667% */
}