@use 'styles/use/utils';


.grid {
  display: grid;
  grid-template-columns: minmax(300px, 845px) minmax(615px, 1fr);
  grid-gap: 30px;

  margin-bottom: 30px;

  @include utils.media-max-width(1780) {
    display: block;
    overflow: hidden;
  }
}

.col {
  > div + div {
    margin-top: 30px;
  }

  @include utils.media-max-width(1780) {
    margin-bottom: 30px;
  }
}
