@use 'styles/use/utils';

.table {
  @include utils.media-max-width(900) {
    min-width: 630px;
  }
}

.wrapper {
  margin-top: 33px;
}


.head {
  text-transform: uppercase;
}

.tbody {
  tr {
    border: none;

    &:first-child {
      th {
        padding-top: 24px;
      }
    }

    th {
      padding: 15px 0 0;
    }
  }
}

