@use 'styles/use/utils';

.referral {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 58px;
  margin-top: 37px;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;

  @include utils.media-max-width(700) {
    margin-bottom: 10px;
    flex-direction: column;
    gap: 15px;
  }
}

.col {
  flex: 0 0 auto;

  button {
    svg path {
      transition: 400ms;
    }
  }

  @include utils.media-max-width(700) {
    width: fit-content;
  }
}

.ref {
  white-space: normal;

  span {
    @include utils.line-clamp(1);
    max-width: 200px;
  }
}

.value {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 11px;
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 26px;
  line-height: 25px;

  button {
    position: absolute;
    right: 0;
    top: -4px;
  }

  @include utils.media-max-width(1600) {
    font-size: 16px;
  }
}

.label {
  color: var(--gray-light);
  font-size: 14px;
  text-transform: capitalize;
}

.carousel {
  overflow: hidden;
}

.list {
  display: flex;
  gap: 80px;
}

.slide {
  flex: 0 0 auto;
  width: 100%;
}

tr.referal {
  border-bottom: none;

  th {
    padding: 7.5px 0;

    &:nth-child(2) {
      width: 40%;
    }
  }
}

.cellName {
  display: flex;
  align-items: center;
}

.name {
  margin-left: 24px;
  font-weight: 500;
  white-space: nowrap;
}

.data {
  margin-left: 73.5px;
}

.price {
  text-align: right;
  color: var(--gray-black);

  &.positive {
    color: var(--green)
  }
}

.coped {
  svg path {
    fill: var(--green);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.inner {
  overflow-x: auto;
  @include utils.customScroll(#000);
}

.table {
  min-width: 630px;
}

.theader {
  display: none;
}

.pagination {
  margin-top: auto;
  margin-bottom: 10px;
  transform: translateX(11px);

  @include utils.media-max-width(1000) {
    margin-top: 20px;
  }
}
