@use 'styles/use/utils';

.form {
  margin-bottom: 50px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.title {
  font-size: 24px;
  font-weight: 500;
  line-height: 35px;

  @include utils.media-max-width(1500) {
    font-size: 25px;
  }

  @include utils.media-max-width(1000) {
    font-size: 22px;
  }

  @include utils.media-max-width(650) {
    font-size: 20px;
  }
}

.button {
  width: 180px;
}

.inputs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 60px;


  @include utils.media-max-width(1600) {
    gap: 40px;
  }

  @include utils.media-max-width(1300) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  @include utils.media-max-width(900) {
    grid-template-columns: 1fr;
  }
}

.label {
  color: var(--gray-light);
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 11px;
}
