@use 'styles/use/utils';

.back {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 24px;
  font-weight: 500;
  gap: 13px;
  margin-bottom: 17px;
  margin-top: 45px;

  img {
    transform: translateY(2px);
  }

  @include utils.media-max-width(1600) {
    font-size: 22px;
    margin-top: 40px;

    img {
      width: 30px;
    }
  }


  @include utils.media-max-width(900) {
    font-size: 20px;
    margin-top: 30px;

    img {
      width: 22px;
    }
  }
}
