.card {
  border-radius: 10px;
  background: #FAFAFA;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 43px;
}

.title {
  display: flex;
  align-items: center;

  span {
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    flex: 0 0 auto;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49px;
  height: 49px;
  background-color: #000;
  border-radius: 50%;
  margin-right: 20px;
  flex: 0 0 auto;
}

.close {
  width: 188px;
  white-space: nowrap;
  margin-left: 29px;
}

.toggler {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 18px;
  font-weight: 300;

  img {
    transition: 400ms;
  }

  &.rotate img{
    transform: rotate(180deg);
  }
}

.text {
  color: #000;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
}

.actives,
.stats {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  justify-content: space-between;
  grid-gap: 14px;

}

.active {
  padding: 12px 5px 0 6px;
  border-radius: 11px;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.25);
  width: 150px;
  height: 70px;

  .value {
    font-size: 20px;
    margin-top: 12px;
  }
}

.label {
  color: var(--gray-light);
  font-size: 14px;
}

.value {
  font-weight: 700;
}

.days {
  font-size: 18px;
  margin-right: 5px;
}

.stats {
  margin-top: 26px;

  .value {
    font-size: 18px;
    color: var(--pinki-tin);
    margin-bottom: 10px;
  }

  .label {
    text-transform: capitalize;
  }
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 35px;
}

.input {
  max-width: 417px;
}

.button {
  max-width: 188px;
}

.accordion {
  margin-bottom: 30px;
  margin-top: 2px;

  &.haveActive {
    margin-bottom: 18px;
  }
}

.content {
  padding-bottom: 13px;
  padding-top: 23px;

  &__text {
    color: #000;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 15px;
  }

  &__list {
    li + li {
      margin-top: 10px;
    }
  }

  &__packages {
    margin-top: 27px;

    &_label {
      font-size: 16px;
      margin-bottom: 16px;
    }

    &_list {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 11px 25px;
    }
  }

  &__package {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 8px;

    &::before {
      content: '';
      width: 6px;
      height: 6px;
      display: block;
      border-radius: 50%;
      background-color: var(--purple-medium);
      transform: translateY(2px);
    }
  }
}
