@use 'styles/use/utils';

.wrapper {
  background-color: #fff;
  border-radius: 15px;
}

.header {
  display: grid;
  grid-template-columns: minmax(670px, 1fr) 1fr;
  grid-gap: 141px;
  padding: 30px 14px 0 10px;

  @include utils.media-max-width(1700) {
    grid-gap: 50px;
  }

  @include utils.media-max-width(1600) {
    grid-template-columns: minmax(500px, 1fr) 1fr;
  }

  @include utils.media-max-width(1050) {
    grid-template-columns: 1fr;
    grid-gap: 30px;
    padding: 0;
  }
}

.right {
  padding-top: 10px;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 38px;
  margin-bottom: 41px;

  @include utils.media-max-width(1000) {
    margin-bottom: 30px;
    gap: 15px;
  }
}

.circle {
  width: 59px;
  height: 59px;
  line-height: 59px;
  font-size: 22px;
}

.name {
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;

  @include utils.media-max-width(1500) {
    font-size: 30px;
    line-height: 42px;
  }

  @include utils.media-max-width(1000) {
    font-size: 28px;
    line-height: 40px;
  }
}

.username {
  color: #949494;
  font-size: 18px;
  font-weight: 300;
}

.carousel {
  border: none;
  background-color: transparent;
  margin-top: 70px;

  @include utils.media-max-width(1050){
    margin-top: 30px;
  }
}
