.form {
  display: grid;
  margin-top: 22px;
}

.label {
  color: var(--gray-light);
  font-size: 14px;
  text-transform: capitalize;
  line-height: 20px;
  margin-top: 11px;
}

.input {
  font-weight: 400;
}

.notification {
  color: var(--gray-light);
  font-size: 12px;
  font-weight: 300;
  margin-top: -10px;
}
