@use 'styles/use/utils';

.form {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  margin-bottom: 40px;

  @include utils.media-max-width(1600) {
    gap: 20px;
  }

  @include utils.media-max-width(1000) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.cell {
  max-width: 331px;
  width: 100%;

  @include utils.media-max-width(1000) {
    max-width: 100%;
  }
}

.drop > button{
  font-weight: 700;
}

.button {
  margin-left: auto;
  width: 188px;
  flex: 0 0 auto;

  @include utils.media-max-width(1000) {
    width: 100%;
    margin: 0;
  }
}

.label {
  color: var(--gray-light);
  font-size: 14px;
  margin-top: 10px;
  text-transform: capitalize;
  line-height: 20px;
}

.name button {
  display: flex;
  align-items: center;
  gap: 14px;
}


.table {
  @include utils.media-max-width(1070) {
    min-width: 900px;
  }
}

.inner {
  @include utils.media-max-width(1070) {
    overflow-x: auto;
    @include utils.customScroll(#000);
  }
}

.th {
  font-size: 18px;

  @include utils.media-max-width(1600) {
    font-size: 16px;
  }
}

.username {
  width: 25%;
}

.date {
  width: 30%;

  @include utils.media-max-width(1600) {
    width: 20%;
  }
}

.price {
  color: var(--pinki-tin);
  font-size: 24px;
  width: 200px;

  @include utils.media-max-width(1600) {
    font-size: 20px;
  }
}

