@use 'styles/use/utils';

.navigation {
  a {
    display: flex;
    align-items: center;
    height: 55px;
    padding: 0 30px;
    line-height: 40px;
    margin-bottom: 15px;
    transition: 400ms;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      right: 0;
      top: 0;
      width: 4px;
      height: 100%;
      border-radius: 3px 0 0 3px;
      background: var(--pinki-tin);
      opacity: 0;
      transition: 400ms;
    }

    &.current {
      background: rgba(194, 160, 217, 0.10);

      &::before {
        opacity: 1;
      }
    }
  }

  span {
    color: #000;
    font-size: 18px;
    transition: 400ms;
    white-space: nowrap;
  }


  @include utils.media-max-width(1279) {
    a {
      width: 100%;
      padding: 0 0 0 25px;
    }

    span {
      display: none;
    }
  }

  @include utils.media-max-width(900) {
    a {
      width: 100%;
      padding: 0 0 0 25px;
    }

    span {
      display: block;
    }
  }
}

.investments {
}

.financeIcon{
  transform: translateY(-4px);
}


.icon {
  width: 22px;
  height: 30px;
  text-align: left;
  margin-right: 15px;
  flex: 0 0 auto;

  @include utils.media-max-width(1279) {
    margin-right: 0;
  }

  @include utils.media-max-width(900) {
    margin-right: 15px;
  }
}

.verification{
  transform: translateY(1px);
}

.transaction {
  transform: translateX(-2px) translateY(1px);
}
