@use 'styles/use/utils';

.wrapper {
  margin-top: 30px;
  padding: 45px 20px 40px;
  background-color: #FFFFFF;
  border-radius: 15px;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;

  @include utils.media-max-width(900) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
  }
}

.left {
  font-size: 24px;
  font-weight: 500;
  line-height: 35px;

  @include utils.media-max-width(1500) {
    font-size: 25px;
  }

  @include utils.media-max-width(1000) {
    font-size: 22px;
  }

  @include utils.media-max-width(650) {
    font-size: 20px;
  }
}

.right {
  display: flex;
  align-items: center;
  gap: 67px;

  @include utils.media-max-width(900) {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 30px;
  }
}

.table {
  @include utils.media-max-width(1600) {
    min-width: 1200px;
  }
}

.inner {
  @include utils.media-max-width(1600) {
    overflow-x: auto;
    @include utils.customScroll(#000);
  }
}

.tbody {
  th {
    font-size: 18px;
  }

  tr {
    &:nth-last-child(2) {
      border-bottom: none;
    }
  }
}

.pagination {
  margin-top: 50px;

  @include utils.media-max-width(1600) {
    margin-top: 30px;
  }
}
