@use 'styles/use/utils';

.toggle {
  width: 41px;
  height: 15px;
  border-radius: 42px;
  position: relative;
  background-color: var(--gray-light);

  &.active {
    background-color: #00A624;

    .overlay {
      left: 22px;
    }
  }
}

.price {
  display: flex;
  align-items: center;
  margin: 15px 0;


  button {
    flex: 0 0 auto;
    transform: translate(9px, 2px);
  }
}

.date {
  width: 20%;
  span {
    font-weight: 500;
    font-size: 16px;
    margin-left: 7px;
  }
}

.overlay {
  @include utils.centerVertically();
  left: -2px;
  position: absolute;
  width: 19.71px;
  height: 19.71px;
  border-radius: 50%;
  background-color: var(--pinki-tin);
  transition: 400ms;
}

.row {
  th {
    font-size: 18px;

    @include utils.media-max-width(1500) {
      font-size: 16px;
    }
  }
}

.table {
  min-width: 1255px;
}

.inner {
  overflow-x: auto;
  @include utils.customScroll(#000);
}

.fullname {
  width: 22%;
}

.username {
  width: 15%;
}

.type {
  width: 15%;
}

.change {
  width: 200px;
}
