@use 'styles/use/utils';

.wrapper {
  margin-top: 38px;
  position: relative;
}

.loader {
  position: absolute;
  @include utils.centerCenter();
}

.pending {
  min-height: 200px;
  height: 100%;
}

.carousel {
  overflow: hidden;
}

.list {
  display: flex;
  align-items: flex-start;
  gap: 40px;

  > div {
    flex: 0 0 auto;
    width: 100%;
  }
}

.pagination {
  margin-top: 20px;
}

.empty {
  font-size: 16px;
}
